[Unit]
Description=Run Husk backend processor on schedule

[Timer]
OnBootSec=3min
OnCalendar=Mon..Fri *-*-* 07..22:00,15,30,45:00
Persistent=true

[Install]
WantedBy=timers.target
